My workflow_webhook.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json[\"question\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -256,
        -16
      ],
      "id": "05b1de62-e808-4848-b7eb-17666bed9341",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        208
      ],
      "id": "bd1f9113-d091-458c-92d5-5fd5106b96e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QVZWXQYi675tvw80",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "05305b9d-d623-4fc2-ab82-dd4f222e2bed",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "c136932f-13b8-419b-8f92-f0790d07e740",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "IOwc9d9htPfdF0yz",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        -16
      ],
      "id": "9a345589-9aa8-4e98-9eb4-21baba81ceb5",
      "name": "Webhook",
      "webhookId": "e751cffc-3d2a-434d-932c-8eaed250c249"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json[\"sessionId\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        240
      ],
      "id": "0e85fa15-8275-405c-a3a3-7ef2b3d1d024",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84409c5c-2873-4de5-b4c9-0142290010b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "112d4547165a50481c223ef72fdd3cc4b2e5db8c9ddc4ad78633712b67ee3d02"
  },
  "id": "WMkE3wzrLsJo1c02",
  "tags": []
}